# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.tox/
.mypy_cache/
htmlcov/
.coverage
*.egg
src/_sap_mcm_client_version.py

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.venv/
