{
  "openapi": "3.0.2",
  "info": {
    "title": "Measurement Concept Instance",
    "description": "The Measurement Concept Instance API enables you to retrieve instances of measurement concepts and to invoke and drive the processes for creating and changing them. An instance, which is based on the physical location structures and commercial definitions of a given measurement concept, represents the actual installation of an end customer.",
    "version": "1.1.0",
    "termsOfService": "https://www.sap.com/about/agreements/cloud-services.html?tag=language:english&search=Supplement&sort=title_asc&source=social-atw-mailto#pdf-asset=f4ccdd0a-107d-0010-87a3-c30de2ffd8ff&page=1"
  },
  "externalDocs": {
    "description": "API Guide of the Measurement Concept Management Component",
    "url": "https://help.sap.com/docs/Cloud_for_Utilities_Foundation/964850841e2943659444c83c00f05dcc/39d2b485b52c425ba1c5f1121362f239.html?locale=en-US&version=Cloud"
  },
  "servers": [
    {
      "url": "https://c4u-foundation-mcm-service.cfapps.eu10.hana.ondemand.com",
      "description": "Measurement Concept Instance API"
    }
  ],
  "tags": [
    {
      "name": "Measurement Concept Instance"
    }
  ],
  "paths": {
    "/odata/v4/api/mcm/v1/MCMInstances": {
      "post": {
        "summary": "Creates a measurement concept instance.",
        "description": "This operation creates a measurement concept instance in the measurement concept management component of SAP Cloud for Utilities foundation. For important information about creating measurement concept instances, refer to the [API Guide]( https://help.sap.com/docs/Cloud_for_Utilities_Foundation/964850841e2943659444c83c00f05dcc/39d2b485b52c425ba1c5f1121362f239.html?locale=en-US&version=Cloud).",
        "tags": [
          "Measurement Concept Instance"
        ],
        "requestBody": {
          "description": "Measurement Concept Instance",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mcmInstances.MeasurementConceptInstances-create"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created measurement concept instance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcmInstances.MeasurementConceptInstances-create-response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. There is a problem with your access token. Generate a new JSON Web Token (JWT) as described in the [Administration Guide]( https://help.sap.com/docs/Cloud_for_Utilities_Foundation/39a9e8c04a4943b69d6851aefcdf0f4d/416202c8d4a449dbae5ac7cdfe40f3c3.html?locale=en-US&version=Cloud)."
          },
          "403": {
            "description": "Forbidden. Access denied.",
            "content": {
              "application/json": {
                  "schema": {
                      "example": {
                          "error": {
                          "code": "403001",
                          "message": "Not authorized to send event 'CREATE' to 'MCMService'"
                          }
                      }
                  }
              }
          }
        }
        }
      },
      "get": {
        "summary": "Retrieves measurement concept instances.",
        "description": "This operation retrieves a list of the measurement concept instances that exist in the measurement concept management component of SAP Cloud for Utilities foundation.",
        "tags": [
          "Measurement Concept Instance"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "$filter",
            "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "id desc",
                  "modifiedAt",
                  "modifiedAt desc",
                  "createdAt",
                  "createdAt desc",
                  "createdBy",
                  "createdBy desc",
                  "modifiedBy",
                  "modifiedBy desc",
                  "createdByUuid",
                  "createdByUuid desc",
                  "modifiedByUuid",
                  "modifiedByUuid desc",
                  "idText",
                  "idText desc",
                  "version",
                  "version desc",
                  "idTextVersion",
                  "idTextVersion desc",
                  "predecessor_id",
                  "predecessor_id desc",
                  "description",
                  "description desc",
                  "measurementModel_id",
                  "measurementModel_id desc",
                  "measurementClass_id",
                  "measurementClass_id desc",
                  "leadingGrid_code",
                  "leadingGrid_code desc",
                  "division_code",
                  "division_code desc",
                  "orderer_code",
                  "orderer_code desc",
                  "leadingAddress_id",
                  "leadingAddress_id desc",
                  "overallStatus_code",
                  "overallStatus_code desc",
                  "status_id",
                  "status_id desc",
                  "installedOn",
                  "installedOn desc",
                  "installedUntil",
                  "installedUntil desc",
                  "commercialSetupOn",
                  "commercialSetupOn desc",
                  "instanceStatus_code",
                  "instanceStatus_code desc",
                  "processStatus_code",
                  "processStatus_code desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "modifiedAt",
                  "createdAt",
                  "createdBy",
                  "modifiedBy",
                  "createdByUuid",
                  "modifiedByUuid",
                  "idText",
                  "version",
                  "idTextVersion",
                  "predecessor_id",
                  "description",
                  "measurementModel_id",
                  "measurementClass_id",
                  "leadingGrid_code",
                  "division_code",
                  "orderer_code",
                  "leadingAddress_id",
                  "overallStatus_code",
                  "status_id",
                  "installedOn",
                  "installedUntil",
                  "commercialSetupOn",
                  "instanceStatus_code",
                  "processStatus_code"
                ]
              }
            }
          },
          {
            "name": "$expand",
            "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "*",
                  "predecessor",
                  "measurementModel",
                  "measurementClass",
                  "leadingGrid",
                  "division",
                  "orderer",
                  "addresses",
                  "leadingAddress",
                  "meteringLocations",
                  "marketLocations",
                  "operandMappings",
                  "actors",
                  "errors",
                  "overallStatus",
                  "status",
                  "changeProcesses",
                  "statusHistory",
                  "instanceStatus",
                  "processStatus"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved measurement concept instances.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcmInstances.MeasurementConceptInstances-Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. There is a problem with your access token. Generate a new JSON Web Token (JWT) as described in the [Administration Guide]( https://help.sap.com/docs/Cloud_for_Utilities_Foundation/39a9e8c04a4943b69d6851aefcdf0f4d/416202c8d4a449dbae5ac7cdfe40f3c3.html?locale=en-US&version=Cloud)."
          },
          "403": {
            "description": "Forbidden. Access denied.",
            "content": {
              "application/json": {
                  "schema": {
                      "example": {
                          "error": {
                          "code": "403001",
                          "message": "Not authorized to send event 'READ' to 'MCMService'"
                          }
                      }
                  }
              }
          }
        }
        }
      }
    },
    "/odata/v4/mcmNumberRange/v1/MCISequence(1)": {
        "patch": {
        "summary": "Changes the prefix or adjusts the number range of new measurement concept instance IDs.",
        "description": "This operation changes the prefix or adjusts the number range of new measurement concept instance in the measurement concept management component of SAP Cloud for Utilities foundation. ",
        "tags": [
          "Measurement Concept Instance"
        ],
        "requestBody": {
          "description": "Measurement Concept Instance",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mcmInstances.MeasurementConceptInstances-updatenumberrange"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated measurement concept instance ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcmInstances.MeasurementConceptInstances-updatenumberrange-response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request.",
            "content": {
              "application/json": {
                  "schema": {
                      "example": {
                          "error": {
                          "code": "400",
                          "message": "Unable to update the MCM instance (UUID:01234567-89ab-cdef-0123-456789abcdef)."
                          }
                      }
                  }
              }
          }
        },
          "401": {
            "description": "Unauthorized. There is a problem with your access token. Generate a new JSON Web Token (JWT) as described in the [Administration Guide]( https://help.sap.com/docs/Cloud_for_Utilities_Foundation/39a9e8c04a4943b69d6851aefcdf0f4d/416202c8d4a449dbae5ac7cdfe40f3c3.html?locale=en-US&version=Cloud)."
          },
          "403": {
            "description": "Forbidden. Access denied.",
            "content": {
              "application/json": {
                  "schema": {
                      "example": {
                          "error": {
                          "code": "403001",
                          "message": "Not authorized to send event 'UPDATE' to 'MCISequence' service"
                          }
                      }
                  }
              }
          }
        }
        }
      }
},
    "/odata/v4/api/mcm/v1/MCMInstances({id})": {
      "parameters": [
        { 
          "description": "Universally unique identifier (UUID) of the measurement concept instance",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef"
          }
        }
      ],
      "get": {
        "summary": "Retrieves a measurement concept instance.",
        "description": "This operation retrieves a measurement concept instance using the ID of the instance that exists in the measurement concept management component of SAP Cloud for Utilities foundation.",
        "tags": [
          "Measurement Concept Instance"
        ],
        "parameters": [
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "modifiedAt",
                  "createdAt",
                  "createdBy",
                  "modifiedBy",
                  "createdByUuid",
                  "modifiedByUuid",
                  "idText",
                  "version",
                  "idTextVersion",
                  "predecessor_id",
                  "description",
                  "measurementModel_id",
                  "measurementClass_id",
                  "leadingGrid_code",
                  "division_code",
                  "orderer_code",
                  "leadingAddress_id",
                  "overallStatus_code",
                  "status_id",
                  "installedOn",
                  "installedUntil",
                  "commercialSetupOn",
                  "instanceStatus_code",
                  "processStatus_code"
                ]
              }
            }
          },
          {
            "name": "$expand",
            "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "*",
                  "predecessor",
                  "measurementModel",
                  "measurementClass",
                  "leadingGrid",
                  "division",
                  "orderer",
                  "addresses",
                  "leadingAddress",
                  "meteringLocations",
                  "marketLocations",
                  "operandMappings",
                  "actors",
                  "errors",
                  "overallStatus",
                  "status",
                  "changeProcesses",
                  "statusHistory",
                  "instanceStatus",
                  "processStatus"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved measurement concept instance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcmInstances.MeasurementConceptInstances-Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. There is a problem with your access token. Generate a new JSON Web Token (JWT) as described in the [Administration Guide]( https://help.sap.com/docs/Cloud_for_Utilities_Foundation/39a9e8c04a4943b69d6851aefcdf0f4d/416202c8d4a449dbae5ac7cdfe40f3c3.html?locale=en-US&version=Cloud)."
          },
          "403": {
            "description": "Forbidden. Access denied.",
            "content": {
              "application/json": {
                  "schema": {
                      "example": {
                          "error": {
                          "code": "403001",
                          "message": "Not authorized to send event 'READ' to 'MCMService'"
                          }
                      }
                  }
              }
          }
        },
          "404": {
            "description": "The measurement concept instance was not found.",
            "content": {
              "application/json": {
                  "schema": {
                      "example": {
                          "error": {
                          "code": "404009",
                          "message": "Entity 'MCMService.MCMInstances' with key(s) 'id=01234567-89ab-cdef-0123-456789abcdef' not found"
                          }
                      }
                  }
              }
          }
        }
        }
      },
      "patch": {
        "summary": "Changes a measurement concept instance.",
        "description": "This operation changes a measurement concept instance using the ID of the instance that exists in the measurement concept management component of SAP Cloud for Utilities foundation. For important information about updating measurement concept instances, refer to the [API Guide](https://help.sap.com/docs/Cloud_for_Utilities_Foundation/964850841e2943659444c83c00f05dcc/39d2b485b52c425ba1c5f1121362f239.html?locale=en-US&version=Cloud).",
        "tags": [
          "Measurement Concept Instance"
        ],
        "requestBody": {
          "description": "Measurement Concept Instance",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mcmInstances.MeasurementConceptInstances-update"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated measurement concept instance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcmInstances.MeasurementConceptInstances-update-response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request.",
            "content": {
              "application/json": {
                  "schema": {
                      "example": {
                          "error": {
                          "code": "400",
                          "message": "Unable to load the MCM instance (UUID:01234567-89ab-cdef-0123-456789abcdef)."
                          }
                      }
                  }
              }
          }
        },
          "401": {
            "description": "Unauthorized. There is a problem with your access token. Generate a new JSON Web Token (JWT) as described in the [Administration Guide]( https://help.sap.com/docs/Cloud_for_Utilities_Foundation/39a9e8c04a4943b69d6851aefcdf0f4d/416202c8d4a449dbae5ac7cdfe40f3c3.html?locale=en-US&version=Cloud)."
          },
          "403": {
            "description": "Forbidden. Access denied.",
            "content": {
              "application/json": {
                  "schema": {
                      "example": {
                          "error": {
                          "code": "403001",
                          "message": "Not authorized to send event 'UPDATE' to 'MCMService'"
                          }
                      }
                  }
              }
          }
        }
        }
      }
    },
    
    "/odata/v4/api/mcm/v1/MCMInstances({{instanceId}})/MCMService.initChange":
    {
     "post": {
        "summary": "Changes a measurement concept instance.",
        "description": "This operation changes a measurement concept instance in the measurement concept management component of SAP Cloud for Utilities foundation. For important information about changing measurement concept instances, refer to the [API Guide]( https://help.sap.com/docs/Cloud_for_Utilities_Foundation/964850841e2943659444c83c00f05dcc/39d2b485b52c425ba1c5f1121362f239.html?locale=en-US&version=Cloud).",
        "tags": [
          "Measurement Concept Instance"
        ],
        "requestBody": {
          "description": "Measurement Concept Instance Change",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mcmInstances.MeasurementConceptInstances-change"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Changed measurement concept instance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcmInstances.MeasurementConceptInstances-change-response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. There is a problem with your access token. Generate a new JSON Web Token (JWT) as described in the [Administration Guide]( https://help.sap.com/docs/Cloud_for_Utilities_Foundation/39a9e8c04a4943b69d6851aefcdf0f4d/416202c8d4a449dbae5ac7cdfe40f3c3.html?locale=en-US&version=Cloud)."
          },
          "403": {
            "description": "Forbidden. Access denied.",
            "content": {
              "application/json": {
                  "schema": {
                      "example": {
                          "error": {
                          "code": "403001",
                          "message": "Not authorized to send event 'CHANGE' to 'MCMService'"
                          }
                      }
                  }
              }
          }
        }
        } 
      }
    },
  "/odata/v4/api/mcm/v1/MCMInstances({instanceId})/MCMService.initMerge":
  {
    "post": {
      "summary": "Merge multiple instances.",
      "description": "This operation merges two or more measurement concept instances into one new target instance of SAP Utilities Core foundation. For more information about merging measurement concept instances, refer to the [API Guide]( https://help.sap.com/docs/Cloud_for_Utilities_Foundation/964850841e2943659444c83c00f05dcc/bd0c28ee902541a4a36ea99712ef0dcc.html?locale=en-US&version=Cloud).",
      "tags": [
        "Measurement Concept Instance"
      ],
      "requestBody": {
        "description": "Measurement Concept Instance Merge",
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/mcmInstances.MeasurementConceptInstances-merge"
            }
          }
        }
      },
      "responses": {
        "201": {
          "description": "Merge measurement concept instances.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mcmInstances.MeasurementConceptInstances-merge-response"
              }
            }
          }
        },
        "401": {
          "description": "Unauthorized. There is a problem with your access token. Generate a new JSON Web Token (JWT) as described in the [Administration Guide]( https://help.sap.com/docs/Cloud_for_Utilities_Foundation/39a9e8c04a4943b69d6851aefcdf0f4d/416202c8d4a449dbae5ac7cdfe40f3c3.html?locale=en-US&version=Cloud)."
        },
        "403": {
          "description": "Forbidden. Access denied.",
          "content": {
            "application/json": {
                "schema": {
                    "example": {
                        "error": {
                        "code": "403001",
                        "message": "Not authorized to send event 'MERGE' to 'MCMService'"
                        }
                    }
                }
            }
        }
      }
      } 
    }
  },
  "/odata/v4/api/mcm/v1/MCMInstances({instanceId})/operandMappings({OperandMappingId})":
  {
    "parameters": [
        {
          "description": "Universally unique identifier (UUID) of the measurement concept instance",
          "in": "path",
          "name": "instanceId",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef"
          }
        },
        {
          "description": "Universally unique identifier (UUID) of the operand mappings",
          "in": "path",
          "name": "OperandMappingId",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef"
          }
        }
      ],
    "patch": {
      "summary": "Patch call to provide values for formula variables of assignment type Instance Value for a measurement concept instance.",
      "description": "This operation updates the Operand Mapping table with the values for formula variables of assignment type Instance Value for a measurement concept instance version of SAP Utilities Core foundation. Variables that are not of type Instance Value cannot be updated. When you select assignment type Instance Value for formula variables in the Measurement Concept Model, you need to provide the values that fill these formula variables in the Measurement Concept Instance. For more information, refer to the [API Guide]( https://help.sap.com/docs/Cloud_for_Utilities_Foundation/964850841e2943659444c83c00f05dcc/39d2b485b52c425ba1c5f1121362f239.html?locale=en-US&version=Cloud).",
      "tags": [
        "Measurement Concept Instance"
      ],
      "requestBody": {
        "description": "Measurement Concept Instance Update Operand Mapping",
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/mcmInstances.MeasurementConceptInstances-updateOperandMapping"
            }
          }
        }
      },
      "responses": {
        "201": {
          "description": "Update Operand Mapping.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mcmInstances.MeasurementConceptInstances-updateOperandMapping-response"
              }
            }
          }
        },
        "401": {
          "description": "Unauthorized. There is a problem with your access token. Generate a new JSON Web Token (JWT) as described in the [Administration Guide]( https://help.sap.com/docs/Cloud_for_Utilities_Foundation/39a9e8c04a4943b69d6851aefcdf0f4d/416202c8d4a449dbae5ac7cdfe40f3c3.html?locale=en-US&version=Cloud)."
        },
        "403": {
          "description": "Forbidden. Access denied.",
          "content": {
            "application/json": {
                "schema": {
                    "example": {
                        "error": {
                        "code": "403001",
                        "message": "Not authorized to send event 'Update Operand Mapping' to 'MCMService'"
                        }
                    }
                }
            }
        }
      }
      } 
    }
  },
    "/odata/v4/api/mcm/v1/MCMInstances({instanceId}})/MCMService.initShutdown":
    {
      "post": {
        "summary": "Shutdown a measurement concept instance.",
        "description": "This operation shuts down a measurement concept instance in the measurement concept management component of SAP Cloud for Utilities foundation. For important information on shutdown of measurement concept instances, refer to the [API Guide]( https://help.sap.com/docs/Cloud_for_Utilities_Foundation/964850841e2943659444c83c00f05dcc/39d2b485b52c425ba1c5f1121362f239.html?locale=en-US&version=Cloud).",
        "tags": [
          "Measurement Concept Instance"
        ],
        "requestBody": {
          "description": "Measurement Concept Instance Shutdown",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mcmInstances.MeasurementConceptInstances-shutdown"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Shutdown measurement concept instance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcmInstances.MeasurementConceptInstances-shutdown-response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. There is a problem with your access token. Generate a new JSON Web Token (JWT) as described in the [Administration Guide]( https://help.sap.com/docs/Cloud_for_Utilities_Foundation/39a9e8c04a4943b69d6851aefcdf0f4d/416202c8d4a449dbae5ac7cdfe40f3c3.html?locale=en-US&version=Cloud)."
          },
          "403": {
            "description": "Forbidden. Access denied.",
            "content": {
              "application/json": {
                  "schema": {
                      "example": {
                          "error": {
                          "code": "403001",
                          "message": "Not authorized to send event 'SHUTDOWN' to 'MCMService'"
                          }
                      }
                  }
              }
          }
        }
        } 
      }
    },
    "/odata/v4/api/mcm/v1/MCMInstances({id})/meteringLocations({meloId-1})": 
    {
      "parameters": [
        {
          "description": "Universally unique identifier (UUID) of the measurement concept instance",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef"
          }
        },
        {
          "description": "Universally unique identifier (UUID) of the metering location",
          "in": "path",
          "name": "meloId-1",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef"
          }
        }
      ],
      "patch": {
        "summary": "Changes a metering location of a measurement concept instance.",
        "description": "This operation changes a metering location of a measurement concept instance using the ID of the metering location and the ID of the measurement concept instance to which the metering location is assigned. For important information about updating measurement concept instances, refer to the [API Guide](https://help.sap.com/docs/Cloud_for_Utilities_Foundation/964850841e2943659444c83c00f05dcc/39d2b485b52c425ba1c5f1121362f239.html?locale=en-US&version=Cloud). Metering locations are where the consumer's consumption of energy from and generation of energy to the grid are measured. The types of metering locations are for comparative measurements, difference measurements, generators, grid measurements, serial switching, and storage measurements.",
        "tags": [
          "Measurement Concept Instance"
        ],
        "requestBody": {
          "description": "Measurement Concept Instance",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mcmInstances.MCIMeteringLocations-update"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Changed metering location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcmInstances.MCIMeteringLocations-update-response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request.",
            "content": {
              "application/json": {
                  "schema": {
                      "example": {
                          "error": {
                          "code": "400",
                          "message": "Unable to load the MCM instance (UUID:01234567-89ab-cdef-0123-456789abcdef)."
                          }
                      }
                  }
              }
          }
        },
          "401": {
            "description": "Unauthorized. There is a problem with your access token. Generate a new JSON Web Token (JWT) as described in the [Administration Guide]( https://help.sap.com/docs/Cloud_for_Utilities_Foundation/39a9e8c04a4943b69d6851aefcdf0f4d/416202c8d4a449dbae5ac7cdfe40f3c3.html?locale=en-US&version=Cloud)."
          },
          "403": {
            "description": "Forbidden. Access denied.",
            "content": {
              "application/json": {
                  "schema": {
                      "example": {
                          "error": {
                          "code": "403001",
                          "message": "Not authorized to send event 'UPDATE' to 'MCMService'"
                          }
                      }
                  }
              }
          }
        }
        }
      }
    },
    "/odata/v4/api/mcm/v1/MCMInstances({instanceInChangeId})/meteringLocations({instCP-meloId-1})/MCMService.notifySingleDeviceRemoved": {
          "parameters": [
            {
              "description": "Universally unique identifier (UUID) of the measurement concept instance",
              "in": "path",
              "name": "instanceInChangeId",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid",
                "example": "01234567-89ab-cdef-0123-456789abcdef"
              }
            },
            {
              "description": "Universally unique identifier (UUID) of the metering location",
              "in": "path",
              "name": "instCP-meloId-1",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid",
                "example": "01234567-89ab-cdef-0123-456789abcdef"
              }
            }
          ],
          "post": {
            "summary": "Notify Single Device Removed.",
            "description": "Notifies that a device has been removed from a metering location within a specific measurement concept instance, refer to the [API Guide](https://help.sap.com/docs/Cloud_for_Utilities_Foundation/964850841e2943659444c83c00f05dcc/39d2b485b52c425ba1c5f1121362f239.html?locale=en-US&version=Cloud).",
            "tags": [
              "Measurement Concept Instance"
            ],
            "requestBody": {
              "description": "Trigger device removal notification. No payload required.",
              "required": true,
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "example": {}
                  }
                }
              }
            },
            "responses": {
              "200": {
                "description": "Changed metering location.",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/mcmInstances.MCIMeteringLocations-notifySingleDeviceRemovedResponse"
                    }
                  }
                }
              },
              "400": {
                "description": "Invalid request.",
                "content": {
                  "application/json": {
                      "schema": {
                          "example": {
                              "error": {
                              "code": "400",
                              "message": "Unable to load the MCM instance (UUID:01234567-89ab-cdef-0123-456789abcdef)."
                              }
                          }
                      }
                  }
              }
            },
              "401": {
                "description": "Unauthorized. There is a problem with your access token. Generate a new JSON Web Token (JWT) as described in the [Administration Guide]( https://help.sap.com/docs/Cloud_for_Utilities_Foundation/39a9e8c04a4943b69d6851aefcdf0f4d/416202c8d4a449dbae5ac7cdfe40f3c3.html?locale=en-US&version=Cloud)."
              },
              "403": {
                "description": "Forbidden. Access denied.",
                "content": {
                  "application/json": {
                      "schema": {
                          "example": {
                              "error": {
                              "code": "403001",
                              "message": "Not authorized to send event 'notifySingleDeviceRemoved' to 'MCMService'"
                                     }
                                     }
                                }
                                      }
                           }
                     }
            }
          }
    },
    "/odata/v4/api/mcm/v1/MCMInstances({id})/marketLocations({maloId-1})": {
      "parameters": [
        {
          "description": "Universally unique identifier (UUID) of the measurement concept instance",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef"
          }
        },
        {
          "description": "Universally unique identifier (UUID) of the market location",
          "in": "path",
          "name": "maloId-1",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef"
          }
        }
      ],
      "patch": {
        "summary": "Changes a market location of a measurement concept instance.",
        "description": "This operation changes a market location of a measurement concept instance using the universally unique identifiers (UUIDs) of the market location and the measurement concept instance to which the market location is assigned. For important information about updating metering tasks, refer to the [API Guide](https://help.sap.com/docs/Cloud_for_Utilities_Foundation/964850841e2943659444c83c00f05dcc/39d2b485b52c425ba1c5f1121362f239.html?locale=en-US&version=Cloud). Market locations contain information such as billing procedures, settlement procedures, removal dates, and commercial setup dates.",
        "tags": [
          "Measurement Concept Instance"
        ],
        "requestBody": {
          "description": "Measurement Concept Instance",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mcmInstances.MCIMarketLocations-update"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Changed market location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcmInstances.MCIMarketLocations-update-response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                  "schema": {
                      "example": {
                          "error": {
                          "code": "400",
                          "message": "Unable to load the MCM instance (UUID:01234567-89ab-cdef-0123-456789abcdef)."
                          }
                      }
                  }
              }
          }
        },
          "401": {
            "description": "Unauthorized. There is a problem with your access token. Generate a new JSON Web Token (JWT) as described in the [Administration Guide]( https://help.sap.com/docs/Cloud_for_Utilities_Foundation/39a9e8c04a4943b69d6851aefcdf0f4d/416202c8d4a449dbae5ac7cdfe40f3c3.html?locale=en-US&version=Cloud)."
          },
          "204": {
            "description": "No content."
          },
          "403": {
            "description": "Forbidden. Access denied.",
            "content": {
              "application/json": {
                  "schema": {
                      "example": {
                          "error": {
                          "code": "403001",
                          "message": "Not authorized to send event 'UPDATE' to 'MCMService'"
                          }
                      }
                  }
              }
          }
        }
        }
      }
    },
    "/odata/v4/api/mcm/v1/MCMInstances({id})/actors({added_actor})": {
      "parameters": [
        {
          "description": "Universally unique identifier (UUID) of the measurement concept instance",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef"
          }
        },
        {
          "description": "Universally unique identifier (UUID) of the actor",
          "in": "path",
          "name": "added_actor",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef"
          }
        }
      ],
      "patch": {
        "summary": "Changes an actor of a measurement concept instance.",
        "description": "This operation changes an actor of a measurement concept instance using the universally unique identifiers (UUIDs) of the actor and the measurement concept instance to which the actor is assigned. For important information about updating metering tasks, refer to the [API Guide](https://help.sap.com/docs/Cloud_for_Utilities_Foundation/964850841e2943659444c83c00f05dcc/39d2b485b52c425ba1c5f1121362f239.html?locale=en-US&version=Cloud). Actors of measurement concept instances contain information such as types, directions, power ranges, energy sources, and grid levels.",
        "tags": [
          "Measurement Concept Instance"
        ],
        "requestBody": {
          "description": "Measurement Concept Instance",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mcmInstances.MCIActors-update"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Changed actor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcmInstances.ActorsPD-update-response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                  "schema": {
                      "example": {
                          "error": {
                          "code": "400",
                          "message": "Unable to load the MCM instance (UUID:01234567-89ab-cdef-0123-456789abcdef)."
                          }
                      }
                  }
              }
          }
        },
          "401": {
            "description": "Unauthorized. There is a problem with your access token. Generate a new JSON Web Token (JWT) as described in the [Administration Guide]( https://help.sap.com/docs/Cloud_for_Utilities_Foundation/39a9e8c04a4943b69d6851aefcdf0f4d/416202c8d4a449dbae5ac7cdfe40f3c3.html?locale=en-US&version=Cloud)."
          },
          "403": {
            "description": "Forbidden. Access denied.",
            "content": {
              "application/json": {
                  "schema": {
                      "example": {
                          "error": {
                          "code": "403001",
                          "message": "Not authorized to send event 'UPDATE' to 'MCMService'"
                          }
                      }
                  }
              }
          }
        }
        }
      }
    },
    "/odata/v4/api/mcm/v1/MCMInstances({instanceId})/marketLocations({marketLocationId})/MCMService.notifySingleMarketLocationRemoved": {
          "parameters": [
            {
              "description": "Universally unique identifier (UUID) of the measurement concept instance",
              "in": "path",
              "name": "instanceId",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid",
                "example": "01234567-89ab-cdef-0123-456789abcdef"
              }
            },
            {
              "description": "Universally unique identifier (UUID) of the market location",
              "in": "path",
              "name": "marketLocationId",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid",
                "example": "01234567-89ab-cdef-0123-456789abcdef"
              }
            }
          ],
          "post": {
            "summary": "Notify Single Market Location Removed.",
            "description": "Notifies that a market location has been removed  within a specific measurement concept instance, refer to the [API Guide](https://help.sap.com/docs/Cloud_for_Utilities_Foundation/964850841e2943659444c83c00f05dcc/39d2b485b52c425ba1c5f1121362f239.html?locale=en-US&version=Cloud).",
            "tags": [
              "Measurement Concept Instance"
            ],
            "requestBody": {
              "description": "Trigger market location removal notification. No payload is required.",
              "required": true,
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "example": {}
                  }
                }
              }
            },
            "responses": {
              "200": {
                "description": "Changed market location.",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/mcmInstances.MCIMarketLocations-update-response"
                    }
                  }
                }
              },
              "400": {
                "description": "Invalid request.",
                "content": {
                  "application/json": {
                      "schema": {
                          "example": {
                              "error": {
                              "code": "400",
                              "message": "Unable to load the MCM instance (UUID:01234567-89ab-cdef-0123-456789abcdef)."
                              }
                          }
                      }
                  }
              }
            },
              "401": {
                "description": "Unauthorized. There is a problem with your access token. Generate a new JSON Web Token (JWT) as described in the [Administration Guide]( https://help.sap.com/docs/Cloud_for_Utilities_Foundation/39a9e8c04a4943b69d6851aefcdf0f4d/416202c8d4a449dbae5ac7cdfe40f3c3.html?locale=en-US&version=Cloud)."
              },
              "403": {
                "description": "Forbidden. Access denied.",
                "content": {
                  "application/json": {
                      "schema": {
                          "example": {
                              "error": {
                              "code": "403001",
                              "message": "Not authorized to send event 'notifySingleMarketLocationRemoved' to 'MCMService'"
                              }
                          }
                      }
                  }
              }
            }
           }
        }
    },
    "/odata/v4/api/mcm/v1/MCMInstances({id})/meteringLocations({meloId-1})/meteringTasks({mTaskId-1})": {
      "parameters": [
        {
          "description": "Universally unique identifier (UUID) of the measurement concept instance",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef"
          }
        },
        {
          "description": "Universally unique identifier (UUID) of the metering location",
          "in": "path",
          "name": "meloId-1",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef"
          }
        },
        {
          "description": "Universally unique identifier (UUID) of the metering task",
          "in": "path",
          "name": "mTaskId-1",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef"
          }
        }
      ],
      "patch": {
        "summary": "Changes a metering task of a measurement concept instance.",
        "description": "This operation changes a metering task of a measurement concept instance using the metering task ID, the metering location ID, the change process ID, and the ID of the measurement concept instance. For important information about updating metering tasks, refer to the [API Guide](https://help.sap.com/docs/Cloud_for_Utilities_Foundation/964850841e2943659444c83c00f05dcc/39d2b485b52c425ba1c5f1121362f239.html?locale=en-US&version=Cloud). Metering tasks of market locations contain information such as register codes, metering procedures, direction, and the type of energy.",
        "tags": [
          "Measurement Concept Instance"
        ],
        "requestBody": {
          "description": "Measurement Concept Instance",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mcmInstances.MCIMeteringLocations-MeteringTask-update"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Changed metering task.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcmInstances.MCIMeteringLocations-MeteringTask-update-response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                  "schema": {
                      "example": {
                          "error": {
                          "code": "400",
                          "message": "Unable to load the MCM instance (UUID:01234567-89ab-cdef-0123-456789abcdef)."
                          }
                      }
                  }
              }
          }
        },
          "401": {
            "description": "Unauthorized. There is a problem with your access token. Generate a new JSON Web Token (JWT) as described in the [Administration Guide]( https://help.sap.com/docs/Cloud_for_Utilities_Foundation/39a9e8c04a4943b69d6851aefcdf0f4d/416202c8d4a449dbae5ac7cdfe40f3c3.html?locale=en-US&version=Cloud)."
          },
          "403": {
            "description": "Forbidden. Access denied.",
            "content": {
              "application/json": {
                  "schema": {
                      "example": {
                          "error": {
                          "code": "403001",
                          "message": "Not authorized to send event 'UPDATE' to 'MCMService'"
                          }
                      }
                  }
              }
          }
        }
        }
      }
    },
    "/odata/v4/api/mcm/v1/MCMInstances({id})/changeProcesses({changeProcess_id})/processData/meteringLocationsPD({meloPDId-1})": {
      "parameters": [
        {
          "description": "Universally unique identifier (UUID) of the measurement concept instance",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef"
          }
        },
        {
          "description": "Universally unique identifier (UUID) of the change process ID",
          "in": "path",
          "name": "changeProcess_id",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef"
          }
        },
        {
          "description": "Universally unique identifier (UUID) of the ID of the metering-location process data",
          "in": "path",
          "name": "maloPDId-1",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef"
          }
        }
      ],
      "patch": {
        "summary": "Changes the metering-location process data of a measurement concept instance.",
        "description": "This operation changes the metering-location process data of a measurement concept isntance using the universally unique identifiers of the market location’s process data, the change process, and the measurement concept instance to which the metering location is assigned. For important information about updating metering tasks, refer to the [API Guide](https://help.sap.com/docs/Cloud_for_Utilities_Foundation/964850841e2943659444c83c00f05dcc/39d2b485b52c425ba1c5f1121362f239.html?locale=en-US&version=Cloud). The process data of metering locations contain information such as meter operators, classifications, and measuring types.",
        "tags": [
          "Measurement Concept Instance"
        ],
        "requestBody": {
          "description": "Measurement Concept Instance",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mcmInstances.MCIMeteringLocationsPD-update"
              }
           }
          }
        },
        "responses": {
          "200": {
            "description": "Changed process data of the metering location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcmInstances.MCIMeteringLocationsPD-update-response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                  "schema": {
                      "example": {
                          "error": {
                          "code": "400",
                          "message": "Unable to load the MCM instance (UUID:01234567-89ab-cdef-0123-456789abcdef)."
                          }
                      }
                  }
              }
          }
        },
          "401": {
            "description": "Unauthorized. There is a problem with your access token. Generate a new JSON Web Token (JWT) as described in the [Administration Guide]( https://help.sap.com/docs/Cloud_for_Utilities_Foundation/39a9e8c04a4943b69d6851aefcdf0f4d/416202c8d4a449dbae5ac7cdfe40f3c3.html?locale=en-US&version=Cloud)."
          },
          "403": {
            "description": "Forbidden. Access denied.",
            "content": {
              "application/json": {
                  "schema": {
                      "example": {
                          "error": {
                          "code": "403001",
                          "message": "Not authorized to send event 'UPDATE' to 'MCMService'"
                          }
                      }
                  }
              }
          }
        }
        }
      }
    },
    "/odata/v4/api/mcm/v1/MCMInstances({id})/changeProcesses({changeProcessId-1})/processData/marketLocationsPD({maloPDId-1})": {
      "parameters": [
        {
          "description": "Universally unique identifier (UUID) of the measurement concept instance",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef"
          }
        },
        {
          "description": "Universally unique identifier (UUID) of the change process ID",
          "in": "path",
          "name": "changeProcessId-1",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef"
          }
        },
        {
          "description": "Universally unique identifier (UUID) of the market-location process data",
          "in": "path",
          "name": "maloPDId-1",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef"
          }
        }
      ],
      "patch": {
        "summary": "Change the market-location process data of a measurement concept instance.",
        "description": "This operation changes the market-location process data of a measurement concept instance using the universally unique identifiers of the market location, the change process, and the measurement concept instance to which the market location is assigned. For important information about updating metering tasks, refer to the [API Guide](https://help.sap.com/docs/Cloud_for_Utilities_Foundation/964850841e2943659444c83c00f05dcc/39d2b485b52c425ba1c5f1121362f239.html?locale=en-US&version=Cloud). Market locations contain information such as billing procedures, settlement procedures, removal dates, and commercial setup dates.",
        "tags": [
          "Measurement Concept Instance"
        ],
        "requestBody": {
          "description": "Measurement Concept Instance",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mcmInstances.MCIMarketLocationPD-update"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Changed process data of the market location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcmInstances.MarketLocationsPD-update-response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                  "schema": {
                      "example": {
                          "error": {
                          "code": "400",
                          "message": "Unable to load the MCM instance (UUID:01234567-89ab-cdef-0123-456789abcdef)."
                          }
                      }
                  }
              }
          }
        },
          "401": {
            "description": "Unauthorized. There is a problem with your access token. Generate a new JSON Web Token (JWT) as described in the [Administration Guide]( https://help.sap.com/docs/Cloud_for_Utilities_Foundation/39a9e8c04a4943b69d6851aefcdf0f4d/416202c8d4a449dbae5ac7cdfe40f3c3.html?locale=en-US&version=Cloud)."
          },
          "403": {
            "description": "Forbidden. Access denied.",
            "content": {
              "application/json": {
                  "schema": {
                      "example": {
                          "error": {
                          "code": "403001",
                          "message": "Not authorized to send event 'UPDATE' to 'MCMService'"
                          }
                      }
                  }
              }
          }
        }
        }
      }
    },
    "/odata/v4/api/mcm/v1/MCMInstances({instanceInChangeId})/changeProcesses({instChange-ProcessId-1})/processData/MCMService.notifyFinalDataEntryReady": {
          "parameters": [
            {
              "description": "Universally unique identifier (UUID) of the measurement concept instance",
              "in": "path",
              "name": "instanceInChangeId",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid",
                "example": "01234567-89ab-cdef-0123-456789abcdef"
              }
            },
            {
              "description": "Universally unique identifier (UUID) of the change process ID",
              "in": "path",
              "name": "instChange-ProcessId-1",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid",
                "example": "01234567-89ab-cdef-0123-456789abcdef"
              }
            }
          ],
          "post": {
            "summary": "Notify Final Data Entry Ready.",
            "description": "This action notifies the system that the final data entry has been completed for a specific change process within a measurement concept instance, refer to the [API Guide](https://help.sap.com/docs/Cloud_for_Utilities_Foundation/964850841e2943659444c83c00f05dcc/39d2b485b52c425ba1c5f1121362f239.html?locale=en-US&version=Cloud).",
            "tags": [
              "Measurement Concept Instance"
            ],
            "requestBody": {
              "description": "Empty body for notifying final data entry readiness.",
              "required": true,
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "example": {}
                  }
                }
              }
            },
            "responses": {
              "200": {
                "description": "Changed process data of the metering location.",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/mcmInstances.MeasurementConceptInstancesPD-notifyFinalDataEntryReadyResponse"
                    }
                  }
                }
              },
              "400": {
                "description": "Invalid request.",
                "content": {
                  "application/json": {
                      "schema": {
                          "example": {
                              "error": {
                              "code": "400",
                              "message": "Unable to load the MCM instance (UUID:01234567-89ab-cdef-0123-456789abcdef)."
                              }
                          }
                      }
                  }
              }
            },
              "401": {
                "description": "Unauthorized. There is a problem with your access token. Generate a new JSON Web Token (JWT) as described in the [Administration Guide]( https://help.sap.com/docs/Cloud_for_Utilities_Foundation/39a9e8c04a4943b69d6851aefcdf0f4d/416202c8d4a449dbae5ac7cdfe40f3c3.html?locale=en-US&version=Cloud)."
              },
              "403": {
                "description": "Forbidden. Access denied.",
                "content": {
                  "application/json": {
                      "schema": {
                          "example": {
                              "error": {
                              "code": "403001",
                              "message": "Not authorized to send event 'notifyFinalDataEntryReady' to 'MCMService'"
                              }
                          }
                      }
                  }
              }
            }
           }
        }
    },
    "/odata/v4/api/mcm/v1/MCMInstances({instanceId})/MCMService.initVersionCancel":
      {
        "post": {
          "summary": "Cancel a Measurement Concept Instance Version.",
          "description": "This operation cancels measurement concept instance versions of SAP Utilities Core foundation. MCM instance versions that are not in the status ‘active’ can be cancelled. You might need to do this, for example, if you triggered the process using incorrect data.When you cancel an MCM instance version, you revoke the process steps and cancel all process documents that have already been carried out in that version. For more-information about the cancellation of measurement concept instance versions, refer to the [API Guide]( https://help.sap.com/docs/Cloud_for_Utilities_Foundation/39a9e8c04a4943b69d6851aefcdf0f4d/d82eec2df077462f92567971c1279cfa.html?locale=en-US&version=Cloud).",
          "tags": [
            "Measurement Concept Instance"
          ],
          "requestBody": {
            "description": "Measurement Concept Instance Version Cancellation",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcmInstances.MeasurementConceptInstances-versionCancel"
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Merge measurement concept instances.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/mcmInstances.MeasurementConceptInstances-versionCancel-response"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized. There is a problem with your access token. Generate a new JSON Web Token (JWT) as described in the [Administration Guide]( https://help.sap.com/docs/Cloud_for_Utilities_Foundation/39a9e8c04a4943b69d6851aefcdf0f4d/416202c8d4a449dbae5ac7cdfe40f3c3.html?locale=en-US&version=Cloud)."
            },
            "403": {
              "description": "Forbidden. Access denied.",
              "content": {
                "application/json": {
                    "schema": {
                        "example": {
                            "error": {
                            "code": "403001",
                            "message": "Not authorized to send event 'VersionCancel' to 'MCMService'"
                            }
                        }
                    }
                }
            }
          }
          } 
        }
      },
    "/odata/v4/api/mcm/v1/MCMInstances({id})/changeProcesses({changeProcessId-1})/processData/meteringLocationsPD({meloPDId-1})/meteringTasksPD({meloTaskPDId-1})": {
      "parameters": [
        {
          "description": "Universally unique identifier (UUID) of the measurement concept instance",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef"
          }
        },
        {
          "description": "Universally unique identifier (UUID) of the change process ID",
          "in": "path",
          "name": "changeProcessId-1",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef"
          }
        },
        {
          "description": "Universally unique identifier (UUID) of the metering-location process data",
          "in": "path",
          "name": "meloPDId-1",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef"
          }
        },
        {
          "description": "Universally unique identifier (UUID) of the metering-task process data",
          "in": "path",
          "name": "meloTaskPDId-1",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef"
          }
        }
      ],
      "patch": {
        "summary": "Changes the metering-task process data of a measurement concept instance.",
        "description": "This operation changes the metering-task process data of a measurement concept instance using the universally unique identifiers of the metering location task, the process data of the metering location, the change process, and the measurement concept instance to which the metering task is assigned. For important information about updating metering tasks, refer to the [API Guide](https://help.sap.com/docs/Cloud_for_Utilities_Foundation/964850841e2943659444c83c00f05dcc/39d2b485b52c425ba1c5f1121362f239.html?locale=en-US&version=Cloud). Metering tasks contain information such as register codes, metering procedures, directions, and types of energy.",
        "tags": [
          "Measurement Concept Instance"
        ],
        "requestBody": {
          "description": "Measurement Concept Instance",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mcmInstances.MCIMeteringTasksPD-update"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Changed process data of the metering task.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcmInstances.MCIMeteringTasksPD-update-response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                  "schema": {
                      "example": {
                          "error": {
                          "code": "400",
                          "message": "Unable to load the MCM instance (UUID:01234567-89ab-cdef-0123-456789abcdef)."
                          }
                      }
                  }
              }
          }
        },
          "401": {
            "description": "Unauthorized. There is a problem with your access token. Generate a new JSON Web Token (JWT) as described in the [Administration Guide]( https://help.sap.com/docs/Cloud_for_Utilities_Foundation/39a9e8c04a4943b69d6851aefcdf0f4d/416202c8d4a449dbae5ac7cdfe40f3c3.html?locale=en-US&version=Cloud)."
          },
          "403": {
            "description": "Forbidden. Access denied.",
            "content": {
              "application/json": {
                  "schema": {
                      "example": {
                          "error": {
                          "code": "403001",
                          "message": "Not authorized to send event 'UPDATE' to 'MCMService'"
                          }
                      }
                  }
              }
          }
        }
        }
      }
    },
    "/odata/v4/api/mcm/config/v1/ActorSubTypes": {
      "post": {
        "summary": "Create a new Actor Sub Type.",
        "description": "Creates a new Actor Sub Type. For more information, refer to the [API Guide]( https://help.sap.com/docs/Cloud_for_Utilities_Foundation/964850841e2943659444c83c00f05dcc/2c8d102010534b4a9a3f2f7c22c58b4e.html?locale=en-US&version=Cloud#create-new-actor-subtype).",
        "tags": [
          "Instance Configuration"
        ],
        "requestBody": {
          "description": "Actor Sub Types",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mcmInstances.ActorSubTypes"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "ActorSubtypeResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcmInstances.ActorSubTypes-response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. There is a problem with your access token. Generate a new JSON Web Token (JWT) as described in the [Administration Guide]( https://help.sap.com/docs/Cloud_for_Utilities_Foundation/39a9e8c04a4943b69d6851aefcdf0f4d/416202c8d4a449dbae5ac7cdfe40f3c3.html?locale=en-US&version=Cloud)."
          },
          "403": {
            "description": "Forbidden. Access denied.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": {
                      "code": "403001",
                      "message": "Not authorized to send event 'CREATE' to 'MCMConfigurationService.ActorSubTypes'"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/odata/v4/api/mcm/config/v1/ActorSubTypes({code})": {
      "get": {
        "summary": "Retrieve an Actor Sub Type by code.",
        "description": "Retrieves the details of a specific Actor Sub Type based on its code. For more information, refer to the [API Guide]( https://help.sap.com/docs/Cloud_for_Utilities_Foundation/964850841e2943659444c83c00f05dcc/2c8d102010534b4a9a3f2f7c22c58b4e.html?locale=en-US&version=Cloud#read-actor-subtype).",
        "tags": [
          "Instance Configuration"
        ],
        "parameters": [
          {
            "description": "Code identifier for the actor subtype",
            "in": "path",
            "name": "code",
            "required": true,
            "schema": {
              "type": "string",
              "example": "NEW_BIOMASS"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ActorSubtypeResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcmInstances.ActorSubTypes-update-response"
                }
              }
            }
          },
          "404": {
            "description": "Invalid Request.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": {
                      "code": "404",
                      "message": "Entity 'MCMConfigurationService.ActorSubTypes' with key(s) 'code=NEW_BIOMASS' not found"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. There is a problem with your access token. Generate a new JSON Web Token (JWT) as described in the [Administration Guide]( https://help.sap.com/docs/Cloud_for_Utilities_Foundation/39a9e8c04a4943b69d6851aefcdf0f4d/416202c8d4a449dbae5ac7cdfe40f3c3.html?locale=en-US&version=Cloud)."
          },
          "403": {
            "description": "Forbidden. Access denied.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": {
                      "code": "403001",
                      "message": "Not authorized to send event 'READ' to 'MCMConfigurationService.ActorSubTypes'"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an existing Actor Sub Type.",
        "description": "Deletes an existing Actor Sub Type identified by its code. For more information, refer to the [API Guide]( https://help.sap.com/docs/Cloud_for_Utilities_Foundation/964850841e2943659444c83c00f05dcc/2c8d102010534b4a9a3f2f7c22c58b4e.html?locale=en-US&version=Cloud#delete-actor-subtype).",
        "tags": [
          "Instance Configuration"
        ],
        "parameters": [
          {
            "description": "Code identifier for the actor subtype",
            "in": "path",
            "name": "code",
            "required": true,
            "schema": {
              "type": "string",
              "example": "NEW_BIOMASS"
            }
          }
        ],
        "responses": {
      "204": {
        "description": "Successfully deleted. No content is returned."
      },
      "404": {
            "description": "The actor sub type was not found.",
            "content": {
              "application/json": {
                  "schema": {
                      "example": {
                          "error": {
                          "code": "404009",
                          "message": "Entity 'MCMConfigurationService.ActorSubTypes' with key(s) 'code=NEW_BIOMASS' not found"
                          }
                      }
                  }
              }
          }
        },
      "401": {
        "description": "Unauthorized. There is a problem with your access token. Generate a new JSON Web Token (JWT) as described in the [Administration Guide]( https://help.sap.com/docs/Cloud_for_Utilities_Foundation/39a9e8c04a4943b69d6851aefcdf0f4d/416202c8d4a449dbae5ac7cdfe40f3c3.html?locale=en-US&version=Cloud)."
          },
      "403": {
        "description": "Forbidden. Access denied.",
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "error": {
                    "code": "403001",
                    "message": "Not authorized to send event 'DELETE' to 'MCMConfigurationService.ActorSubTypes'"
                  }
                }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update an existing Actor Sub Type.",
        "description": "Updates the fields of an existing Actor Sub Type by code. For more information, refer to the [API Guide]( https://help.sap.com/docs/Cloud_for_Utilities_Foundation/964850841e2943659444c83c00f05dcc/2c8d102010534b4a9a3f2f7c22c58b4e.html?locale=en-US&version=Cloud#update-actor-subtype).",
        "tags": [
          "Instance Configuration"
        ],
        "parameters": [
          {
            "description": "Code identifier for the actor subtype",
            "in": "path",
            "name": "code",
            "required": true,
            "schema": {
              "type": "string",
              "example": "NEW_BIOMASS"
            }
          }
        ],
        "requestBody": {
          "description": "Actor Sub Types",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mcmInstances.ActorSubTypes"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ActorSubtypeResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcmInstances.ActorSubTypes-update-response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. There is a problem with your access token. Generate a new JSON Web Token (JWT) as described in the [Administration Guide]( https://help.sap.com/docs/Cloud_for_Utilities_Foundation/39a9e8c04a4943b69d6851aefcdf0f4d/416202c8d4a449dbae5ac7cdfe40f3c3.html?locale=en-US&version=Cloud)."
          },
          "403": {
            "description": "Forbidden. Access denied.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": {
                      "code": "403001",
                      "message": "Not authorized to send event 'UPDATE' to 'MCMConfigurationService.ActorSubTypes'"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/odata/v4/api/mcm/config/v1/GridLevelTypes": {
      "post": {
        "summary": "Create a new Grid Level Type.",
        "description": "Creates a new Grid Level Type. For more information, refer to the [API Guide]( https://help.sap.com/docs/Cloud_for_Utilities_Foundation/964850841e2943659444c83c00f05dcc/0761c33948d24bdeb80d99fec3e3f57f.html?locale=en-US&version=Cloud#create-new-gridleveltypes:).",
        "tags": [
          "Instance Configuration"
        ],
        "requestBody": {
          "description": "Grid Level Type",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mcmInstances.GridLevelTypes-request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "GridLevelTypesResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcmInstances.GridLevelTypes-response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. There is a problem with your access token. Generate a new JSON Web Token (JWT) as described in the [Administration Guide]( https://help.sap.com/docs/Cloud_for_Utilities_Foundation/39a9e8c04a4943b69d6851aefcdf0f4d/416202c8d4a449dbae5ac7cdfe40f3c3.html?locale=en-US&version=Cloud)."
          },
          "403": {
            "description": "Forbidden. Access denied.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": {
                      "code": "403001",
                      "message": "Not authorized to send event 'CREATE' to 'MCMConfigurationService.GridLevelTypes'"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/odata/v4/api/mcm/config/v1/GridLevelTypes({code})": {
      "get": {
        "summary": "Retrieve a Grid Level Type by code.",
        "description": "Retrieves the details of a specific Grid Level Type based on its code. For more information, refer to the [API Guide]( https://help.sap.com/docs/Cloud_for_Utilities_Foundation/964850841e2943659444c83c00f05dcc/0761c33948d24bdeb80d99fec3e3f57f.html?locale=en-US&version=Cloud#read-gridleveltypes).",
        "tags": [
          "Instance Configuration"
        ],
        "parameters": [
          {
            "description": "Code identifier for the grid level type.",
            "in": "path",
            "name": "code",
            "required": true,
            "schema": {
              "type": "string",
              "example": "EHV"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "GridLevelTypesResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcmInstances.GridLevelTypes-response"
                }
              }
            }
          },
          "404": {
            "description": "Invalid Request.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": {
                      "code": "404",
                      "message": "Entity 'MCMConfigurationService.GridLevelTypes' with key(s) 'code=EHV' not found"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. There is a problem with your access token. Generate a new JSON Web Token (JWT) as described in the [Administration Guide]( https://help.sap.com/docs/Cloud_for_Utilities_Foundation/39a9e8c04a4943b69d6851aefcdf0f4d/416202c8d4a449dbae5ac7cdfe40f3c3.html?locale=en-US&version=Cloud)."
          },
          "403": {
            "description": "Forbidden. Access denied.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": {
                      "code": "403001",
                      "message": "Not authorized to send event 'READ' to 'MCMConfigurationService.GridLevelTypes'"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an existing Grid Level Type.",
        "description": "Deletes an existing Grid Level Type identified by its code. For more information, refer to the [API Guide](https://help.sap.com/docs/Cloud_for_Utilities_Foundation/964850841e2943659444c83c00f05dcc/0761c33948d24bdeb80d99fec3e3f57f.html?locale=en-US&version=Cloud#delete-gridleveltypes ).",
        "tags": [
          "Instance Configuration"
        ],
        "parameters": [
          {
            "description": "Code identifier for the grid level types",
            "in": "path",
            "name": "code",
            "required": true,
            "schema": {
              "type": "string",
              "example": "EHV"
            }
          }
        ],
        "responses": {
      "204": {
        "description": "Successfully deleted. No content is returned."
      },
      "404": {
            "description": "The actor sub type was not found.",
            "content": {
              "application/json": {
                  "schema": {
                      "example": {
                          "error": {
                          "code": "404009",
                          "message": "Entity 'MCMConfigurationService.GridLevelTypes' with key(s) 'code=EHV' not found"
                          }
                      }
                  }
              }
          }
        },
      "401": {
        "description": "Unauthorized. There is a problem with your access token. Generate a new JSON Web Token (JWT) as described in the [Administration Guide]( https://help.sap.com/docs/Cloud_for_Utilities_Foundation/39a9e8c04a4943b69d6851aefcdf0f4d/416202c8d4a449dbae5ac7cdfe40f3c3.html?locale=en-US&version=Cloud)."
          },
      "403": {
        "description": "Forbidden. Access denied.",
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "error": {
                    "code": "403001",
                    "message": "Not authorized to send event 'DELETE' to 'MCMConfigurationService.GridLevelTypes'"
                  }
                }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update an existing Grid Level Type.",
        "description": "Updates the fields of an existing Grid Level Types by code. For more information, refer to the [API Guide](https://help.sap.com/docs/Cloud_for_Utilities_Foundation/964850841e2943659444c83c00f05dcc/0761c33948d24bdeb80d99fec3e3f57f.html?locale=en-US&version=Cloud#update-gridleveltypes ).",
        "tags": [
          "Instance Configuration"
        ],
        "parameters": [
          {
            "description": "Code identifier for the grid level types.",
            "in": "path",
            "name": "code",
            "required": true,
            "schema": {
              "type": "string",
              "example": "EHV"
            }
          }
        ],
        "requestBody": {
          "description": "Grid Level Types",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mcmInstances.GridLevelTypes-update-request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ActorSubtypeResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcmInstances.GridLevelTypes-response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. There is a problem with your access token. Generate a new JSON Web Token (JWT) as described in the [Administration Guide]( https://help.sap.com/docs/Cloud_for_Utilities_Foundation/39a9e8c04a4943b69d6851aefcdf0f4d/416202c8d4a449dbae5ac7cdfe40f3c3.html?locale=en-US&version=Cloud)."
          },
          "403": {
            "description": "Forbidden. Access denied.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": {
                      "code": "403001",
                      "message": "Not authorized to send event 'UPDATE' to 'MCMConfigurationService.GridLevelTypes'"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "mcmInstances.MeasurementConceptInstances-create": {
      "title": "MeasurementConceptInstances (for create)",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "nullable": true,
          "example": "Instance Electricity Purchase - {{c4uf-release}} - Creation process - Step by Step",
          "description": "The brief description of the measurement concept instance."
        },
        "measurementModel_id": {
          "type": "string",
          "format": "uuid",
          "example": "ffffffff-2222-2222-2222-100000000001",
          "description": "The universally unique identifier of the measurement concept model from which the measurement concept is instantiated."
        },
        "leadingGrid_code": {
          "type": "string",
          "maxLength": 40,
          "nullable": true,
          "example": "SNE956610053427",
          "description": "The code representing the leading grid of the measurement concept instance."
        },
        "division_code": {
          "type": "string",
          "maxLength": 2,
          "nullable": true,
          "example": "EL",
          "description": "The code representing the division of the measurement concept instance. The supported divisions are ```EL``` (electricity), ```GA``` (gas), ```WA``` (water), and ```RH``` (remote heat). The division is derived from the referenced measurement concept model and class."
        },
        "orderer_code": {
          "type": "string",
          "maxLength": 40,
          "nullable": true,
          "example": "1234",
          "description": "The code representing the orderer of the measurement concept instance, who is the party who initates the creation of the measurement concept instance. The order can be, for example, a DSO, uniquely identified by a number from the Market Master Data Register."
        },
        "addresses": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/mcmInstances.MCIObjectAddresses-create"
          }
        },
        "changeProcesses": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/mcmInstances.MCIChangeProcesses-create"
          }
        }
      },
      "required": [
        "measurementModel_id"
      ],
      "description": "For creating measurement concept instances"
      },
      "mcmInstances.MeasurementConceptInstances-create-response": {
          "title": "MeasurementConceptInstances",
          "type": "object",
          "properties": {
            "@context": {
              "type": "string",
              "example": "$metadata#MCMInstances(meteringLocations(meteringTasks()),marketLocations(calculationRules(steps(meteringTask(meteringLocation())),usages())),operandMappings(),actors(),addresses(),changeProcesses(processData(meteringLocationsPD(meteringTasksPD()),marketLocationsPD(),actorsPD(externalReferences())),instanceCharacteristics()))/$entity"
            },
            "@metadataEtag": {
              "type": "string",
              "example": "W/\"1ecd0410052abb5c38517692cf51d32a37f8ba3546a612c9c677143977568124\""
            },
            "id": {
              "type": "string",
              "format": "uuid",
              "example": "01234567-89ab-cdef-0123-456789abcdef",
              "description": "The universally unique identifier (UUID) of the measurement concept instance."
            },
            "idText": {
              "type": "string",
              "maxLength": 60,
              "example": "INST-79",
              "description": "The text describing the universally unique identifier (UUID) of the measurement concept instance."
            },
            "version": {
              "type": "string",
              "maxLength": 5,
              "nullable": true,
              "default": "1",
              "description": "The version of the measurement concept instance."
            },
            "description": {
              "type": "string",
              "nullable": true,
              "example": "Step-by-step creation process",
              "description": "The brief description of the measurement concept instance."
            },
            "leadingGrid_code": {
              "type": "string",
              "maxLength": 40,
              "nullable": true,
              "example": "SNE956610053427",
              "description": "The code representing the leading grid of the measurement concept instance."
            },
            "division_code": {
              "type": "string",
              "maxLength": 2,
              "nullable": true,
              "example": "EL",
              "description": "The code representing the division of the measurement concept instance. The supported divisions are ```EL``` (electricity), ```GA``` (gas), ```WA``` (water), and ```RH``` (remote heat). The division is derived from the referenced measurement concept model and class."
            },
            "orderer_code": {
              "type": "string",
              "maxLength": 40,
              "nullable": true,
              "example": "SP_DIST",
              "description": "The code representing the orderer of the measurement concept instance."
            },
            "leadingAddress_id": {
              "type": "string",
              "format": "uuid",
              "example": "01234567-89ab-cdef-0123-456789abcdef",
              "nullable": true,
              "description": "The universally unique identifier (UUID) of the leading address of the measurement concept instance."
            },
            "predecessor_id": {
              "type": "string",
              "format": "uuid",
              "example": "01234567-89ab-cdef-0123-456789abcdef",
              "nullable": true,
              "description": "The universally unique identifier (UUID) of the predecessor version of the measurement concept instance."
            },
            "difference2Predecessor_measurementConceptInstance_id": {
              "type": "string",
              "format": "uuid",
              "example": "01234567-89ab-cdef-0123-467789abcddg",
              "nullable": true,
              "description": "The universally unique identifier (UUID) of the predecessor version of the measurement concept instance."
            },
            "measurementModel_id": {
              "type": "string",
              "format": "uuid",
              "example": "01234567-89ab-cdef-0123-456789abcdef",
              "nullable": true,
              "description": "The universally unique identifier of the measurement concept model from which the measurement concept is instantiated."
            },
            "measurementClass_id": {
              "type": "string",
              "format": "uuid",
              "example": "01234567-89ab-cdef-0123-456789abcdef",
              "nullable": true,
              "description": "The universally unique identifier (UUID) of the measurement concept class."
            },
            "overallStatus_code": {
              "type": "string",
              "maxLength": 12,
              "nullable": true,
              "description": "The combined status of the status and the process status of the measurement concept instance. The overall statuses ```INITIAL```, ```NEW```, ```ERROR```, and ```ACTIVE``` are supported."
            },
            "status_id": {
              "type": "string",
              "format": "uuid",
              "example": "01234567-89ab-cdef-0123-456789abcdef",
              "nullable": true,
              "description": "The universally unique identifier (UUID) of the status of the measurement concept instance."
            },
            "modifiedAt": {
              "type": "string",
              "format": "date-time",
              "example": "2017-04-13T15:51:04Z",
              "nullable": true,
              "description": "The date and time at which the measurement concept instance was last modified."
            },
            "modifiedBy": {
              "type": "string",
              "maxLength": 255,
              "nullable": true,
              "description": "The user who last modified the measurement concept instance"
            },
            "installedOn": {
              "type": "string",
              "format": "date",
              "example": "2017-04-13",
              "nullable": true,
              "description": "The date on which the physical installation processes are completed for a version of the measurement concept instance."
            },
            "installedUntil": {
              "type": "string",
              "format": "date",
              "example": "2017-04-13",
              "nullable": true,
              "description": "The date until a version of a measurement concept instance is valid."
            },
            "commercialSetupOn": {
              "type": "string",
              "format": "date",
              "example": "2017-04-13",
[...]
