{
    "openapi": "3.0.2",
    "info": {
      "title": "Measurement Concept Class",
      "description": "The Measurement Concept Class API enables you to retrieve classes of measurement concepts. The class of a measurement concept defines the technical and physical structure, consisting of a type, a division, actors, and metering locations.",
      "version": "1.1.0",
      "termsOfService": "https://www.sap.com/about/agreements/cloud-services.html?tag=language:english&search=Supplement&sort=title_asc&source=social-atw-mailto#pdf-asset=f4ccdd0a-107d-0010-87a3-c30de2ffd8ff&page=1"
    },
    "externalDocs": {
      "description": "API Guide of the Measurement Concept Management Component",
      "url": "https://help.sap.com/docs/Cloud_for_Utilities_Foundation/964850841e2943659444c83c00f05dcc/39d2b485b52c425ba1c5f1121362f239.html?locale=en-US&version=Cloud"
    },
    "servers": [
      {
        "url": "https://c4u-foundation-mcm-service.cfapps.eu10.hana.ondemand.com",
        "description": "Measurement Concept Class API"
      }
    ],
    "tags": [
      {
        "name": "Measurement Concept Class"
      }
    ],
    "paths": {
      "/odata/v4/api/mcm/v1/MeasurementConceptClasses": {
        "get": {
          "summary": "Retrieves measurement concept classes.",
          "description": "This operation retrieves a list of the measurement concept classes, including templates, that exist in the measurement concept management component of SAP Cloud for Utilities foundation.",
          "tags": [
            "Measurement Concept Class"
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/top"
            },
            {
              "$ref": "#/components/parameters/skip"
            },
            {
              "$ref": "#/components/parameters/search"
            },
            {
              "name": "$filter",
              "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "$ref": "#/components/parameters/count"
            },
            {
              "name": "$orderby",
              "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "id",
                    "id desc",
                    "idText",
                    "idText desc",
                    "name",
                    "name desc",
                    "description",
                    "description desc",
                    "classType_code",
                    "classType_code desc",
                    "division_code",
                    "division_code desc"
                  ]
                }
              }
            },
            {
              "name": "$select",
              "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "*",
                    "id",
                    "idText",
                    "name",
                    "description",
                    "classType_code",
                    "division_code"
                  ]
                }
              }
            },
            {
              "name": "$expand",
              "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "*",
                    "classType",
                    "division",
                    "meteringLocations",
                    "actors"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Retrieved measurement concept classes.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/mcmModels.MeasurementConceptClasses-response"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized. There is a problem with your access token. Generate a new JSON Web Token (JWT) as described in the [Administration Guide]( https://help.sap.com/docs/Cloud_for_Utilities_Foundation/39a9e8c04a4943b69d6851aefcdf0f4d/416202c8d4a449dbae5ac7cdfe40f3c3.html?locale=en-US&version=Cloud)."
            },
            "403": {
              "description": "Forbidden. Access denied.",
              "content": {
                "application/json": {
                    "schema": {
                        "example": {
                            "error": {
                            "code": "403001",
                            "message": "Not authorized to send event 'READ' to 'MCMService'"
                            }
                        }
                    }
                }
            }
          }
          }
        }
      },
      "/odata/v4/api/mcm/v1/MeasurementConceptClasses({id})": {
        "parameters": [
          {
            "description": "Universally unique identifier (UUID) of the measurement concept class",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "01234567-89ab-cdef-0123-456789abcdef"
            }
          }
        ],
        "get": {
          "summary": "Retrieves a measurement concept class.",
          "description": "This operation retrieves a measurement concept class using its ID, which exists in the measurement concept management component of SAP Cloud for Utilities foundation.",
          "tags": [
            "Measurement Concept Class"
          ],
          "parameters": [
            {
              "name": "$select",
              "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "id",
                    "idText",
                    "name",
                    "description",
                    "classType_code",
                    "division_code"
                  ]
                }
              }
            },
            {
              "name": "$expand",
              "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "*",
                    "classType",
                    "division",
                    "meteringLocations",
                    "actors"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Retrieved measurement concept class.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/mcmModels.MeasurementConceptClasses-response"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized. There is a problem with your access token. Generate a new JSON Web Token (JWT) as described in the [Administration Guide]( https://help.sap.com/docs/Cloud_for_Utilities_Foundation/39a9e8c04a4943b69d6851aefcdf0f4d/416202c8d4a449dbae5ac7cdfe40f3c3.html?locale=en-US&version=Cloud)."
            },
            "403": {
              "description": "Forbidden. Access denied.",
              "content": {
                "application/json": {
                    "schema": {
                        "example": {
                            "error": {
                            "code": "403001",
                            "message": "Not authorized to send event 'READ' to 'MCMService'"
                            }
                        }
                    }
                }
            }
          },
            "404": {
              "description": "The measurement concept class was not found.",
              "content": {
                "application/json": {
                    "schema": {
                        "example": {
                            "error": {
                            "code": "404009",
                            "message": "Entity 'MCMService.MCMInstances' with key(s) 'id=01234567-89ab-cdef-0123-456789abcdef' not found"
                            }
                        }
                    }
                }
            }
          }
          }
        }
      },
      "/odata/v4/api/mcm/v1/MeasurementConceptClasses({id})/classType": {
        "parameters": [
          {
            "description": "Universally unique identifier (UUID) of the measurement concept class",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "01234567-89ab-cdef-0123-456789abcdef"
            }
          }
        ],
        "get": {
          "summary": "Retrieves the type of a measurement concept class.",
          "description": "This operation retrieves the type of a measurement concept class using the ID of the class. The class type determines whether the class is a template.",
          "tags": [
            "Measurement Concept Class"
          ],
          "parameters": [
            {
              "name": "$select",
              "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "name",
                    "descr",
                    "code"
                  ]
                }
              }
            },
            {
              "name": "$expand",
              "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Retrieved type of the measurement concept class.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/mcmModels.MCClassTypes"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized. There is a problem with your access token. Generate a new JSON Web Token (JWT) as described in the [Administration Guide]( https://help.sap.com/docs/Cloud_for_Utilities_Foundation/39a9e8c04a4943b69d6851aefcdf0f4d/416202c8d4a449dbae5ac7cdfe40f3c3.html?locale=en-US&version=Cloud)."
            },
            "403": {
              "description": "Forbidden. Access denied.",
              "content": {
                "application/json": {
                    "schema": {
                        "example": {
                            "error": {
                            "code": "403001",
                            "message": "Not authorized to send event 'READ' to 'MCMService'"
                            }
                        }
                    }
                }
            }
          }
          }
        }
      },
      "/odata/v4/api/mcm/v1/MeasurementConceptClasses({id})/division": {
        "parameters": [
          {
            "description": "Universally unique identifier (UUID) of the measurement concept class",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "01234567-89ab-cdef-0123-456789abcdef"
            }
          }
        ],
        "get": {
          "summary": "Retrieves the division of a measurement concept class.",
          "description": "This operation retrieves the division of a measurement concept class using the ID of the class. The division of a measurement concept class determines whether you can use the class for electricity, gas, water, or remote heat.",
          "tags": [
            "Measurement Concept Class"
          ],
          "parameters": [
            {
              "name": "$select",
              "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "name",
                    "descr",
                    "code"
                  ]
                }
              }
            },
            {
              "name": "$expand",
              "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Retrieved division of the measurement concept class",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/mcmModels.DivisionTypes"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized. There is a problem with your access token. Generate a new JSON Web Token (JWT) as described in the [Administration Guide]( https://help.sap.com/docs/Cloud_for_Utilities_Foundation/39a9e8c04a4943b69d6851aefcdf0f4d/416202c8d4a449dbae5ac7cdfe40f3c3.html?locale=en-US&version=Cloud)."
            },
            "403": {
              "description": "Forbidden. Access denied.",
              "content": {
                "application/json": {
                    "schema": {
                        "example": {
                            "error": {
                            "code": "403001",
                            "message": "Not authorized to send event 'READ' to 'MCMService'"
                            }
                        }
                    }
                }
            }
          }
          }
        }
      },
      "/odata/v4/api/mcm/v1/MeasurementConceptClasses({id})/meteringLocations": {
        "parameters": [
          {
            "description": "Universally unique identifier (UUID) of the measurement concept class",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "01234567-89ab-cdef-0123-456789abcdef"
            }
          }
        ],
        "get": {
          "summary": "Retrieves the metering locations of a measurement concept class.",
          "description": "This operation retrieves the metering locations of a measurement concept class using the ID of the class. Metering locations measure consumers' consumption of energy from and generation of energy to the grid. The types of metering locations are for grid measurement, difference measurement, storage measurement, and generators.",
          "tags": [
            "Measurement Concept Class"
          ],
          "parameters": [
            {
              "name": "$select",
              "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "idText",
                    "type_code",
                    "description",
                    "optional",
                    "repeatable",
                    "position"
                  ]
                }
              }
            },
            {
              "name": "$expand",
              "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "*",
                    "measurementConceptClass",
                    "type",
                    "meteringTasks",
                    "predecessors",
                    "successors"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Retrieved metering locations of the measurement concept class.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/mcmModels.MCCMeteringLocations"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized. There is a problem with your access token. Generate a new JSON Web Token (JWT) as described in the [Administration Guide]( https://help.sap.com/docs/Cloud_for_Utilities_Foundation/39a9e8c04a4943b69d6851aefcdf0f4d/416202c8d4a449dbae5ac7cdfe40f3c3.html?locale=en-US&version=Cloud)."
            },
            "403": {
              "description": "Forbidden. Access denied.",
              "content": {
                "application/json": {
                    "schema": {
                        "example": {
                            "error": {
                            "code": "403001",
                            "message": "Not authorized to send event 'READ' to 'MCMService'"
                            }
                        }
                    }
                }
            }
          }
          }
        }
      },
      "/odata/v4/api/mcm/v1/MeasurementConceptClasses({id})/actors": {
        "parameters": [
          {
            "description": "Universally unique identifier (UUID) of the measurement concept class",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "01234567-89ab-cdef-0123-456789abcdef"
            }
          }
        ],
        "get": {
          "summary": "Retrieves the actors of a measurement concept class.",
          "description": "This operation retrieves the actors of a measurement concept class using the ID of the class that exists in the measurement concept management component of SAP Cloud for Utilities foundation. The actors of measurement concept classes include grids, consumers, producers, and storages.",
          "tags": [
            "Measurement Concept Class"
          ],
          "parameters": [
            {
              "name": "$select",
              "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "idText",
                    "type_code",
                    "direction_code",
                    "optional",
                    "repeatable",
                    "position",
                    "energySource_code",
                    "powerRange_code"
                  ]
                }
              }
            },
            {
              "name": "$expand",
              "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
              "in": "query",
              "explode": false,
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "string",
                  "enum": [
                    "*",
                    "measurementConceptClass",
                    "type",
                    "direction",
                    "energySource",
                    "powerRange",
                    "marketLocationsMapping",
                    "predecessors",
                    "successors"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Retrieved actors of the measurement concept class.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/mcmModels.MCCActors"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized. There is a problem with your access token. Generate a new JSON Web Token (JWT) as described in the [Administration Guide]( https://help.sap.com/docs/Cloud_for_Utilities_Foundation/39a9e8c04a4943b69d6851aefcdf0f4d/416202c8d4a449dbae5ac7cdfe40f3c3.html?locale=en-US&version=Cloud)."
            },
            "403": {
              "description": "Forbidden. Access denied.",
              "content": {
                "application/json": {
                    "schema": {
                        "example": {
                            "error": {
                            "code": "403001",
                            "message": "Not authorized to send event 'READ' to 'MCMService'"
                            }
                        }
                    }
                }
            }
          }
          }
        }
      }
    },
    "components": {
    "schemas": {
        "mcmModels.MeasurementConceptClasses-response": {
        "title": "MeasurementConceptClasses",
        "type": "object",
        "properties": {
            "@context": {
            "type": "string",
            "example": "$metadata#MeasurementConceptClasses(*,classType(),division(),meteringLocations(),actors())"
            },
            "@metadataEtag": {
            "type": "string",
            "example": "W/\"1ecd0410052abb5c38517692cf51d32a37f8ba3546a612c9c677143977568124\""
            },
            "id": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef",
            "description": "The universally unique identifier (UUID) of the measurement concept class."
            },
            "idText": {
            "type": "string",
            "maxLength": 32,
            "example": "P_S",
            "nullable": true,
            "description": "The text describing the universally unique identifier (UUID) of the measurement concept class."
            },
            "name": {
            "type": "string",
            "example": "Feed-in with unmetered generating plant",
            "nullable": true,
            "description": "The brief description of the measurement concept class."
            },
            "description": {
            "type": "string",
            "example": "For mapping models for feed-in with unmetered generation plant",
            "nullable": true,
            "description": "The long description of the measurement concept class."
            },
            "classType_code": {
            "type": "string",
            "maxLength": 12,
            "nullable": true,
            "example": "SAP Template",
            "default": "CLASS",
            "description": "The code representing the class type of the measurement concept class. The supported types are ```CLASS``` (class) and ```SAPTEMPLATE``` (SAP template). Classes of the SAP template type can be used only as a basis for classes of the class type, which can be used in production." 
            },
            "version": {
            "type": "string",
            "maxLength": 2,
            "nullable": true,
            "example": "1",
            "description": "The API version." 
            },
            "division_code": {
            "type": "string",
            "maxLength": 2,
            "example": "EL",
            "nullable": true,
            "description": "The code representing the division of the measurement concept class. The supported divisions are ```EL``` (electricity), ```GA``` (gas), ```WA``` (water), and ```RH``` (remote heat)."
            },
            "classType": {
            "allOf": [
                {
                "$ref": "#/components/schemas/mcmModels.MCClassTypes"
                }
            ],
            "nullable": true
            },
            "division": {
            "allOf": [
                {
                "$ref": "#/components/schemas/mcmModels.DivisionTypes"
                }
            ],
            "nullable": true
            },
            "meteringLocations": {
            "type": "array",
            "items": {
                "$ref": "#/components/schemas/mcmModels.MCCMeteringLocations"
            }
            },
            "actors": {
            "type": "array",
            "items": {
                "$ref": "#/components/schemas/mcmModels.MCCActors"
            }
            }
        },
        "description": "Measurement Concept Class"
        },
        "mcmModels.MCClassTypes": {
        "title": "MCClassTypes",
        "type": "object",
        "properties": {
            "name": {
            "type": "string",
            "maxLength": 255,
            "example": "Template",
            "nullable": true,
            "description": "The brief description of the type of a measurement concept class."
            },
            "descr": {
            "type": "string",
            "maxLength": 1000,
            "example": "SAP Template",
            "nullable": true,
            "description": "The long description of the type of a measurement concept class."
            },
            "readOnly": {
            "type": "boolean",
            "nullable": true,
            "description": "Indicates whether measurement concept classes of this type are read-only."
            },
            "deletable": {
            "type": "boolean",
            "nullable": true,
            "description": "Indicates whether measurement concept classes of this type can be deleted."
            },
            "updateable": {
            "type": "boolean",
            "nullable": true,
            "description": "Indicates whether measurement concept classes of this type can be updated."
            },
            "code": {
            "type": "string",
            "maxLength": 12,
            "example": "SAP Template",
            "default": "CLASS",
            "description": "The code representing the class type of the measurement concept class. The supported types are ```CLASS``` (class) and ```SAPTEMPLATE``` (SAP template). Classes of the SAP template type can be used only as a basis for classes of the class type, which can be used in production."
            }
        },
        "description": "Types of measurement concept classes"
        },
        "mcmModels.DivisionTypes": {
        "title": "DivisionTypes",
        "type": "object",
        "properties": {
            "name": {
            "type": "string",
            "maxLength": 255,
            "example": "Electricity",
            "nullable": true,
            "description": "The short description of the division type of a measurement concept class."
            },
            "descr": {
            "type": "string",
            "maxLength": 1000,
            "example": "Electricity Division",
            "nullable": true,
            "description": "The long description of the division type of a measurement concept class."
            },
            "code": {
            "type": "string",
            "maxLength": 2,
            "example": "EL",
            "description": "The code representing the division of the measurement concept class. The supported divisions are ```EL``` (electricity), ```GA``` (gas), ```WA``` (water), and ```RH``` (remote heat)."
            }
        },
        "description": "Division types of measurement concept models"
        },
        "mcmModels.MCCMeteringLocations": {
        "title": "MCCMeteringLocations",
        "type": "object",
        "properties": {
            "id": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef",
            "description": "The universally unique identifier (UUID) of the metering location."
            },
            "measurementConceptClass_id": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef",
            "description": "The universally unique identifier (UUID) of the measurement concept class to which the metering location is assigned."
            },
            "idText": {
            "type": "string",
            "maxLength": 12,
            "example": "Z1",
            "nullable": true,
            "description": "The text describing the universally unique identifier (UUID) of the metering location."
            },
            "externalCode": {
            "type": "string",
            "maxLength": 20,
            "nullable": true,
            "example": "string",
            "description": "The external code "
            },
            "type_code": {
            "type": "string",
            "maxLength": 12,
            "example": "GRIDMES",
            "nullable": true,
            "description": "The code representing the type of metering location. The supported types are ```GRIDMES``` (grid measurement), ```SERIESMES``` (serial switching measurement), ```GENERATORMES``` (generator measurement), ```STORAGEMES``` (storage measurement), ```DIFFMES``` (difference measurement), and ```COMPAREMES``` (comparative measurement)."  
            },
            "description": {
            "type": "string",
            "nullable": true,
            "description": "The description of the metering location."
            },
            "optional": {
            "type": "boolean",
            "example": false,
            "nullable": true,
            "description": "Indicates whether the metering location is optional within a circuit plan."
            },
            "repeatable": {
            "type": "boolean",
            "example": false,
            "nullable": true,
            "description": "Indicates whether copies of the metering location or metering location bundle can be created during the instantiation of measurement concepts."
            },
            "position": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "description": "The position of the metering location."
            }
        },
        "description": "Metering locations of measurement concept models"
        },
        "mcmModels.MCCActors": {
        "title": "MCCActors",
        "type": "object",
        "properties": {
            "id": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef",
            "description": "The universally unique identifier (UUID) of the actor."
            },
            "measurementConceptClass_id": {
            "type": "string",
            "format": "uuid",
            "example": "01234567-89ab-cdef-0123-456789abcdef",
            "description": "The universally unique identifier (UUID) of the measurement concept class to which the actor is assigned."
            },
            "idText": {
            "type": "string",
            "maxLength": 12,
            "example": "VB1",
            "nullable": true,
            "description": "The text describing the universally unique identifier (UUID) of the actor."
            },
            "type_code": {
            "type": "string",
            "maxLength": 12,
            "example": "CONSUMER",
            "nullable": true,
            "description": "The code representing the type of actor."
            },
            "optional": {
            "type": "boolean",
            "nullable": true,
            "description": "Indicates whether the actor is optional within a circuit plan."
            },
            "repeatable": {
            "type": "boolean",
            "nullable": true,
            "description": "Indicates whether copies of the actor can be created during the instantiation of measurement concepts."
            },
            "direction_code": {
            "type": "string",
            "maxLength": 4,
            "nullable": true,
            "description": "The code representing the direction of the actor. The supported directions for the electricity division type are ```IN``` (supply) and ```OUT``` (demand). The supported direction for the gas, water, and remote heat division types is ```OUT``` (demand)."
            },
            "position": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "description": "The position of the metering location."
            },
            "energySource_code": {
            "type": "string",
            "maxLength": 12,
            "nullable": true,
            "description": "The code representing the energy source of an actor. All actors belonging to the same metering location must have the same energy source. For information about the supported energy sources and their codes, refer to [MCIActors](https://help.sap.com/docs/Cloud_for_Utilities_Foundation/964850841e2943659444c83c00f05dcc/da4327d2df4d4bdf9082b4c2e699ca85.html?locale=en-US&version=Cloud)."
            },
            "powerRange_code": {
            "type": "string",
            "maxLength": 12,
            "nullable": true,
            "description": "The code representing the power range of an actor."
            },
            "externalCode": {
            "type": "string",
            "maxLength": 20,
            "nullable": true,
            "example": "string",
            "description": "The external code "
            }
        },
        "description": "Actors of measurement concept models"
        }
     },
      "parameters": {
        "top": {
          "name": "$top",
          "in": "query",
          "description": "Show only the first n items, see [Paging - Top](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptiontop)",
          "schema": {
            "type": "integer",
            "minimum": 0
          },
          "example": 50
        },
        "skip": {
          "name": "$skip",
          "in": "query",
          "description": "Skip the first n items, see [Paging - Skip](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionskip)",
          "schema": {
            "type": "integer",
            "minimum": 0
          }
        },
        "count": {
          "name": "$count",
          "in": "query",
          "description": "Include count of items, see [Count](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptioncount)",
          "schema": {
            "type": "boolean"
          }
        },
        "search": {
          "name": "$search",
          "in": "query",
          "description": "Search items by search phrases, see [Searching](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionsearch)",
          "schema": {
            "type": "string"
          }
        }
      },
      "securitySchemes": {
        "OAuth2": {
          "type": "oauth2",
          "flows": {
            "clientCredentials": {
              "tokenUrl": "https://{subaccountAuthentication}.authentication.{region}.hana.ondemand.com/oauth/token",
              "scopes": {}
            }
          }
        }
      }
    },
    "x-sap-shortText": "Retrieve measurement concept classes.",
    "x-sap-api-type": "ODATAV4",
    "security": [
      {
        "OAuth2": []
      }
    ]
  }